{% extends '_base.html' %}

{% block page_title %}
    جزئیات کتاب {{book.title}}
{% endblock %}


{% block content %}
    
    <h1>{{book.title|capfirst}}</h1>
    <p>{{book.description|linebreaks}}
    <p>{{book.author}}</p>
    <h4>{{book.price}}</h4>
    <a href="{% url 'book_update' book.id %}" class="btn btn-primary">ویرایش</a>
    <a href="{% url 'book_delete' book.id %}" class="btn btn-danger">حذف</a>
    <br>
    
    <a href="{% url 'book_list' %}">برگشت به لیست کتاب‌ها</a>

{% endblock %}
    